# Ignore evobot description files
evobot_description_gz/

# Ignore evobot Gazebo files
evobot_gazebo/

# GUI test folder
evorobo/

# API key file
evo_voice/evo_voice/key.py

# Ignore Python cache folders
evo_voice/evo_voice/__pycache__/
web_control/web_control/__pycache__/

# Optional - ignore all __pycache__ globally
__pycache__/

